@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
@{
    ViewBag.Title = "UpdateItems";
}

<h2>Add Items</h2>
<form>
   <div> @Html.ActionLink("Add bags", "AddBags",new { @style="font-weight:bold;"})</div>
   
   

    <div> @Html.ActionLink("Add Shoes", "AddShoes",new { style="font-size:160%;"})</div>

    <div> @Html.ActionLink("Add Jewellery", "AddJewellery",new { style="font-size:160%;"})</div>
    
    <div> @Html.ActionLink("Add Watches", "AddWatches",new { style="font-size:160%;"})</div>
</form>
    