
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
@{
    ViewBag.Title = "Delete/UpdateItems";
}

<h2>UpdateItems</h2>
<form>
  
   <div> @Html.ActionLink("Delete/update bags", "DeleteBags",new { @style="font-weight:bold;"})</div>
   
   

    <div> @Html.ActionLink("Delete/update Shoes", "DeleteShoes",new { style="font-size:160%;"})</div>

    <div> @Html.ActionLink("Delete/update Jewellery", "DeleteJewel",new { style="font-size:160%;"})</div>
    
    <div> @Html.ActionLink("Delete/update Watches", "DeleteWatch",new { style="font-size:160%;"})</div>
</form>
</form>
